<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}! Time to grind!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Workout</h3>

    <form class="form new-workout-form">
      <div class="form-group">
        <label for="workout-id">Routine name:</label>
        <input class="form-input" type="text" id="workout-id" name="workout-id" />
      </div>
      <div class="form-group">
        <label for="workout-funding">Upper Body:</label>
              <select name="upper-workout-type" id="upper-workout-type">
        <option value="pushups">pushups</option>
        <option value="overhead press">overhead press</option>
        <option value="pullups">pullups</option>
        <option value="vertical rows">vertical rows</option>
        <option value="weighted curls">weighted curls</option>
        <option value="kettlebell swings">kettlebell swings</option>
        <option value="lat pulldowns">lat pulldowns</option>
        <option value="farmer walks">farmer walks</option>
        <option value="bear crawls">bear crawls</option>
        <option value="chest press">chest press</option>

      </select>
      </div>

      <div class="form-group">
         <div class="form-group">
        <label for="workout-funding">Lower Body:</label>
        <select name="lower-workout-type" id="lower-workout-type">
        <option value="lateral lunges">lateral lunges</option>
        <option value="goblet squats">goblet squats</option>
        <option value="forward lunges">forward lunges</option>
        <option value="dumbell squats">dumbell squats</option>
        <option value="seated leg press">seated leg press</option>
        <option value="calf raises">calf raises</option>
        <option value="glute bridge">glute bridge</option>
        <option value="reverse lunges">reverse lunges</option>
        <option value="single leg deadlift">single leg deadlift</option>
        <option value="mountain climbers">mountain climbers</option>

      </select>
      </div>
     
      <div class="form-group">
         <div class="form-group">
        <label for="workout-funding">Blended Routine:</label>
       <select name="" id="">
        <option value="pushups">pushups</option>
        <option value="overhead press">overhead press</option>
        <option value="pullups">pullups</option>
        <option value="vertical rows">vertical rows</option>
        <option value="weighted curls">weighted curls</option>
        <option value="kettlebell swings">kettlebell swings</option>
        <option value="lat pulldowns">lat pulldowns</option>
        <option value="famer walks">famer walks</option>
        <option value="bear crawls">bear crawls</option>
        <option value="chest press">chest press</option>
        <option value="lateral lunges">lateral lunges</option>
        <option value="goblet squats">goblet squats</option>
        <option value="forward lunges">forward lunges</option>
        <option value="dumbell squats">dumbell squats</option>
        <option value="seated leg press">seated leg press</option>
        <option value="calf raises">calf raises</option>
        <option value="glute bridge">glute bridge</option>
        <option value="reverse lunges">reverse lunges</option>
        <option value="single leg deadlift">single leg deadlift</option>
        <option value="mountain climbers">mountain climbers</option>

      </select>
      </div>
      
      <div class="form-group">
        <label for="workout-desc">description:</label>
        <textarea class="form-input" id="workout-desc" name="workout-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if workouts.length}}
  <div class="col-md-6 workout-list">
    <h3>Workout Log</h3>

    {{#each workouts as |workout|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/workout/{{workout.id}}">{{workout.workout_id}} </a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{workout.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>