<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}! Time to grind!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Workout</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Routine name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">Upper Body:</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <select name="" id="">
        <option value="pushups"></option>
        <option value="overhead press"></option>
        <option value="pullups"></option>
        <option value="vertical rows"></option>
        <option value="weighted curls"></option>
        <option value="kettlebell swings"></option>
        <option value="lat pulldowns"></option>
        <option value="farmer walks"></option>
        <option value="bear crawls"></option>
        <option value="chest press"></option>

      </select>
      <div class="form-group">
         <div class="form-group">
        <label for="project-funding">Lower Body:</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <select name="" id="">
        <option value="lateral lunges"></option>
        <option value="goblet squats"></option>
        <option value="forward lunges"></option>
        <option value="dumbell squats"></option>
        <option value="seated leg press"></option>
        <option value="calf raises"></option>
        <option value="glute bridge"></option>
        <option value="reverse lunges"></option>
        <option value="single leg deadlift"></option>
        <option value="mountain climbers"></option>

      </select>
      <div class="form-group">
         <div class="form-group">
        <label for="project-funding">Blended Routine:</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <select name="" id="">
        <option value="pushups"></option>
        <option value="overhead press"></option>
        <option value="pullups"></option>
        <option value="vertical rows"></option>
        <option value="weighted curls"></option>
        <option value="kettlebell swings"></option>
        <option value="lat pulldowns"></option>
        <option value="famer walks"></option>
        <option value="bear crawls"></option>
        <option value="chest press"></option>
        <option value="lateral lunges"></option>
        <option value="goblet squats"></option>
        <option value="forward lunges"></option>
        <option value="dumbell squats"></option>
        <option value="seated leg press"></option>
        <option value="calf raises"></option>
        <option value="glute bridge"></option>
        <option value="reverse lunges"></option>
        <option value="single leg deadlift"></option>
        <option value="mountain climbers"></option>

      </select>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if workouts.length}}
  <div class="col-md-6 project-list">
    <h3>Workout Log</h3>

    {{#each workouts as |workout|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/workout/{{workout.id}}">{{workout.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{workout.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>